@charset "UTF-8";

/*
Paleta de cores:
AZUL: #17153B
AZUL CLARO: #2E236C
LILAS: #C8ACD6
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #17153B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

#image {
    display: block;
    background: #17153B url(../imagens/background.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

#forml {
    display: block;
    padding: 10px;
    
}

#forml h1 {
    text-align: center;
    margin-bottom: 10px;
}

#forml p {
    text-align: justify;
    font-size: .8em;
}

form {
    display: block;
    margin: auto;
    padding-top: 20px;
}