@charset "UTF-8";

/*
Paleta de cores:
AZUL: #17153B
AZUL CLARO: #2E236C
LILAS: #C8ACD6
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #17153B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: white;
    width: 230px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#image {
    display: block;
    background: #17153B url(../imagens/background.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

#forml {
    display: block;
    padding: 10px;
    
}

#forml h1 {
    text-align: center;
    margin-bottom: 10px;
}

#forml p {
    text-align: justify;
    font-size: .8em;
}

form {
    display: block;
    margin: auto;
    padding-top: 20px;
}

.campo {
    display: block;
    background-color: #C8ACD6;
    border: 1px solid #322a36;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

.campo input {
    border-radius: 5px;
    border: 0px;
    font-size: 1em;
    width: calc(100% - 35.9px);
    height: 97%;
    padding: 5px;
    transform: translateY(-3px);
}

.campo label {
    display: none;
}

.campo span {
    width: 31px;
    font-size: 1.6;
    padding: 5px;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #306086;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding: 20px;
    line-height: 5px;
}

input[type=submit]:hover {
    background-color: #a3d2dd;
    cursor: pointer;
}

button {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #8bc0ec;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}

button:hover {
    background-color: #192229;
    color: white;
    cursor: pointer;
}